<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="LeKiwi_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="STS3215_03a_v1_Revolute_45">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['STS3215_03a_v1_Revolute_45']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="STS3215_03a_v1_1_Revolute_49">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['STS3215_03a_v1_1_Revolute_49']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="STS3215_03a_v1_2_Revolute_51">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['STS3215_03a_v1_2_Revolute_51']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="STS3215_03a_v1_3_Revolute_53">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['STS3215_03a_v1_3_Revolute_53']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="STS3215_03a_Wrist_Roll_v1_Revolute_55">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['STS3215_03a_Wrist_Roll_v1_Revolute_55']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="STS3215_03a_v1_4_Revolute_57">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['STS3215_03a_v1_4_Revolute_57']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
